.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.input-td {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: 2px #809c80 solid;
  background-color: #C9DBB2;
  padding: 5px;
  font-size: 20px;
  box-shadow: 0 0.4rem #809c80;
}

.input-td:focus {
  outline-color: #AAC8A7;
}

.input-container {
  display: flex;
  gap: 20px;
}

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.layer1 {
  background-image: url('./assets/blobi.svg');
  position: fixed;
  bottom: 0;
  z-index: -1;
}

.add-btn {
  background-color: #C9DBB2;
  width: 150px;
  height: 50px;
  border-radius: 15px;
  font-size: 20px;
  text-align: center;
  border: 2px #809c80 solid;
  color: gray;
  cursor: pointer;
  box-shadow: #809c80 0px 10px 0px 0px;
  transition: all .3s ease;
}

.add-btn:hover {
  box-shadow: #809c80 0px 7px 0px 0px;
  transform: translateY(3px);
}

.add-btn:active {
  box-shadow: #809c80 0px 0px 0px 0px;
  transform: translateY(7px);
}

.text{
  font-size: 40px;
  text-align: center;
  animation: appear 0.5s;
}

@keyframes appear {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}